/* Grid layout */
#account-page {
  padding-top: 40px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: auto;
  grid-template-rows: repeat(4, auto);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

#account-page img {
  max-width: 100%;
}

#return-button {
  grid-area: 1 / 1 / 2 / 2;
  max-width: 60%;
  height: auto;
  visibility: hidden; /* TODO: Is this component necessary? */
}
#profile-pic {
  grid-area: 1 / 6 / 2 / 8;
}
#account-button {
  grid-area: 3 / 6 / 4 / 8;
}

/* Dynamic account component */
#account-component {
  grid-area: 4 / 2 / 5 / 12;
}
/* Favorite Recipes */
#favorites-container {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
}

#favorites-container > div {
  background: lightgray;
  width: auto;
  height: 200px;
}

#pagination {
  display: flex;
  justify-content: center;
}
/* Account details */
#account-details {
  display: flex;
  flex-direction: column;
}
#account-details > div {
  background-color: lightgray;
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
}
#account-details div:last-child {
  border-bottom: 2px solid black;
}
