li{
  list-style: none;
}
a{
  text-decoration: none;
}

/*CSS for the sticky note*/
#navbar{
  width: 100%;
  height: 125px;
  overflow: hidden;
  background-color: lightpink;
  position:sticky;
  left:0;
  display:inline-flex;
  border-bottom: 5px solid black;
  z-index: 3000;
}

.topbar-item {
  margin-left: auto; 
}

.topbar-item ul li:hover {
  background-color: aliceblue;
}

.topbar-item ul {
  display: flex; 
  gap: 20px; 
  padding: 0;
  margin: 0;
  list-style-type: none; 
}

.topbar-item ul li {
  padding: 5px 10px; 
}

.topbar-item ul li a {
  text-decoration: none;
  color: #000;
  font-size: 16px; 
}


#hamButton{
  font-size: x-large;
}

/*  TRANSFER OVER TO MAIN.TSX
.newPostButton
{
  position: fixed;
  left: 89%;
  top: 90%
}
*/ 

.sidebar-header{
  padding-top: 145px;
  grid-column: span 2;
  font-weight: bold;
  font-size: 18px;
  border-bottom: 2px solid black;
}
.sidebar.active{
  left: 0;
}

.sidebar-item{
  padding: 5px;
  font-size: 18px;
  gap: 50px;
}

.top-sidebar-nav{
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 30px; 
  padding: 10px; 
}

/*CSS for what in the hamburger menu*/
.sidebar li {
  display: flex;
  flex-direction: column;
  list-style-type: none; 
  width: 100%;
  text-align: center;
  gap: 15px;
}

.hidden {
  display: none;
}

.visible {
  display: block;
  transition: opacity 0.3s ease;
  opacity: 1;
}